
    <div class="carousel-wrapper">
        <div id="urbispotCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#urbispotCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#urbispotCarousel" data-slide-to="1"></li>
                <li data-target="#urbispotCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active carousel-img">
                    <img src="~/Images/Carousel/c1.jpg" alt="Chania">
                    <div class="carousel-caption">
                        <h3>Slide 1</h3>
                        <p>stuff stuff stuff button below</p>
                        <button class="bg-primary">Register now!</button>
                    </div>
                </div>

                <div class="item carousel-img">
                    <img src="~/Images/Carousel/c2.jpg" alt="Chania">
                    <div class="carousel-caption">
                        <h3>slide 2</h3>
                        <p>The atmosphere in Chania has a touch of Florence and Venice.</p>
                    </div>
                </div>

                <div class="item carousel-img">
                    <img src="~/Images/Carousel/c3.jpg" alt="Flower">
                    <div class="carousel-caption">
                        <h3>slide 3</h3>
                        <p>Beatiful flowers in Kolymbari, Crete.</p>
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#urbispotCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#urbispotCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>

    <div style="padding-top:340px; background-color:AppWorkspace;">
        <p style="color:white;">stuff you want people to know about </p>
    </div>

