.steps-wrapper{
    
    margin-top:-40px;
    background-color:rgba(255, 255, 255, 0.6);
    /*border-radius:30px;*/
    margin-bottom:20px;
}

.threecol{
    /*background-color:#1A7ACE;*/
    margin-bottom:20px;
}

.threecol h2{
    color:black;
    text-align:center;
}

.threecol .steptext{
    margin-top:0px;
    padding:10px;
    border-radius: 15px;
    border-color:#0094ff;
    border-style:solid;
    border-width:0px;
    
}

.threecol .stepimg{
    height:150px;
    width:100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    vertical-align:bottom
}

.sidebar-title{
    background-color:#333;
    height:100%;
    border-radius:25px;
    padding-top:5px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:5px;
    color:#b6ff00;
    margin-bottom:20px;
}

.sidebar-body{
    background-color:#999;
    color:wheat;
    height:100%;
    border-radius:20px;
    padding-top:10px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:10px;
}